* {
box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.container {
    background-image: url(../img/background.png);

}

.container div {
    text-align: center;
}

.header {
    color: white;
    background-color: black;
    padding: 1.4em 0 1.4em 0;
}

h1 {
    font-size: 1.8em;
    font-weight: bolder;
    letter-spacing: .2em;
}

h2 {
    font-size: .8em;
    font-weight: lighter;
    letter-spacing: .2em;
    margin: .8em 0 0 0;
}

h3 {
    margin: 0;
    display: inline;
}

.qr-code {
    width: 80%;
    display: block;
    margin: 5em auto;
}

div img {
    width: 100%;
    max-width: 100%;
}

.footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    border: solid 1px black;
}

.price {
    grid-column: 1/3;
    border-top: solid 1px black;
    letter-spacing: .2em;
}

.date {
    border-right: solid 1px black;
    letter-spacing: .2em;
}

.footer > div {
    font-weight: bolder;
    padding: .8em 1em;
}

div > span {
    font-weight: normal;
}

.hidden {
    display: none;
}

