* {
box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.container div {
    text-align: center;
}

h1 {
    font-size: 1.8em;
    font-weight: bolder;
    letter-spacing: .2em;
}

h2 {
    font-size: .8em;
    font-weight: normal;
    letter-spacing: .2em;
}

.qr-code {
    width: 80%;
    display: block;
    margin: 0 auto;
}

div img {
    width: 100%;
    max-width: 100%;
}

.footer {
    border: solid 1px black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.price {
    grid-column: 1/3;
    border-top: solid 1px black;
}

.date {
    border-right: solid 1px black;
}

.footer > div {
    font-weight: bold;
}

div > span {
    font-weight: normal;
}

.hidden {
    display: none;
}